.container {
  /* Positioned below the search filters */
  /* position: absolute;
  top: 150px;
  left: 20px;
  right: 20px;
  bottom: 20px; */
  display: inline-flex;
  height: 725px;
  padding: 16px 0;
  flex-direction: column;
}

.header {
  color: #353535;

  /* Z-NavLabels */
  font-family: "Test Calibre";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header h3 {
  padding-left: 31px;
  padding-bottom: 4px;
}

.stationsList {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  direction: rtl;
}

.stationsList > * {
  direction: ltr;
}
