.container {
  display: flex;
  padding: 72px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.content {
  display: flex;
  height: 506px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 208px;
  align-self: stretch;
}

.title {
  align-self: stretch;
  color: var(--Z-primary-orange, #f26522);

  /* Z-h2-bold */
  font-family: "Test Calibre";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  align-self: stretch;
  color: #000;
  font-family: "Test Calibre";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
