.mapWrapper {
  position: relative; /* needed so filters can be absolutely positioned */
}

.searchFiltersWrapper {
  position: absolute;
  top: 48px;
  bottom: 822px;
  z-index: 3000;
}

.defaultSpacing {
  left: 143px;
  right: 143px;
}

.withToggle {
  left: 84px;
  right: 84px;
}
