.mapWrapper {
  position: relative; /* needed so filters can be absolutely positioned */
}

.searchFiltersWrapper {
  position: absolute;
  top: 48px;
  bottom: 822px;
  z-index: 3000;
}

.defaultSpacing {
  left: 143px;
  right: 143px;
}

.withToggle {
  left: 84px;
  right: 84px;
}

.stationResultsWrapper {
  position: absolute;
  /* Below search filter */
  top: 150px;
  left: 50px;
  right: 1492px;
  bottom: 16px;
  z-index: 2000;
}
