.mapWrapper {
  position: relative; /* needed so filters can be absolutely positioned */
}

.searchFiltersWrapper {
  position: absolute;
  top: 48px;
  left: 143px;
  right: 143px;
  bottom: 822px;
  z-index: 3000;
}
