.fuelBox {
  min-width: 48px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: var(--Radius, 8px);
}

.logoAndFuelType {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.priceContainer {
  display: flex;
  align-items: flex-start;
}

.price {
  color: var(--Z-neutral-white, #fff);
  font-family: "Test Calibre Bold", sans-serif;
  font-size: 16px;
}

.currencySign {
  color: var(--Z-neutral-white, #fff);
  font-family: "Test Calibre Bold", sans-serif;
  font-size: 10px;
}

.fuelTypeText {
  align-self: stretch;

  color: #f8f8f8;
  text-align: center;
  font-family: "Test Calibre Bold", sans-serif;
  font-size: 14px;
}

.fuelDiesel {
  background: #36353a;
}

.fuelUnleaded {
  background: #31522f;
}

.fuelPremium {
  background: #b64138;
}
